# Node modules
node_modules/

# Compilation output
/dist
/artifacts
/cache
/types
/bundle

# Environment files
.env
.env.*
!.env.example

# Hardhat
/coverage
/.gas-snapshot
/snapshots

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Coverage
.nyc_output

# TypeScript cache
*.tsbuildinfo

# Optional npm cache
.npm

# Output of npm pack
*.tgz